<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd">

<!-- 读取jdbc.properties -->
<context:property-placeholder location="classpath:jdbc.properties" 
	    system-properties-mode="FALLBACK"
    /> 

<!-- 配置数据源 -->
<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
	<!--数据库驱动 -->
	<property name="driverClassName" value="${driverClassName}"></property>
	<!--连接数据库的url -->
	<property name="url" value="${url}"></property>
	<!--连接数据库的用户名 -->
	<property name="username" value="${username}"></property>
	<!-- 连接数据库的密码 -->
	<property name="password" value="${password}"></property>
	<!-- 最大空闲连接 -->
	<property name="maxIdle" value="${maxIdle}"></property>	
	<!-- 初始化连接数 -->
	<property name="initialSize" value="${initialSize}"></property>
	<property name="minIdle" value="${minIdle}"></property>
</bean>
<!-- 事务管理器，依赖于数据源 -->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"></property>
</bean>
<!-- 开启事务注解 -->
<tx:annotation-driven transaction-manager="transactionManager"/>

<!-- 配置MyBatis工厂 -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- 注入数据源 -->
	<property name="dataSource" ref="dataSource"></property>
	<!-- 指定核心配置文件位置 -->
	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
</bean>


	
	<!-- Mapper代理开发(基于MapperFactoryBean) -->
	<bean id="EmployeeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dbs.mapper.EmpMapper"></property>
		<property name="mapperInterface1" value="com.dbs.mapper.Mapper"></property>

		<!-- 注入SqlSessionFactory的对象实例 -->
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	

</beans>
