<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>酒店工作人员信息管理</title>
	<script src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/index.js" ></script>
	<!--  
	<script type="text/javascript" src="../js/show.js" ></script>
	-->
	<link rel="stylesheet" href="../css/bootstrap-3.3.7.css">
	<link rel="stylesheet" href="../css/index.css" />
	<link rel="Stylesheet" type="text/css" href="../css/loginDialog.css" />
	
</head>
<body>
	<div class="s-side">
	<ul>
		<!--这部分是导航栏信息。-->
		<li class="s-firstItem first">
			<a href="#">
				<i class="fa fa-home"></i>
				<span>首页</span>
			</a>
		</li>
		
		<li class="first">
			<div class="d-firstNav s-firstNav clearfix">
				<i class="fa fa-bars"></i>
				<span>前台</span>
				<i class="fa fa-caret-right fr "></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
						<span>预订管理</span>
						<i class="fa fa-caret-right fr"></i>
					</div>
					<ul class="d-secondDrop s-secondDrop">
						<li class="s-thirdItem">
							<a class="a" href="select.html">查询预订信息</a>
						</li>
						<li class="s-thirdItem">
							<a class="a" href="insert.html">添加预订信息</a>
						</li>
						<li class="s-thirdItem">
							<a class="a" href="update.html">修改预订信息</a>
						</li>
						<li class="s-thirdItem">
							<a class="a" href="delete.html">删除预订信息</a>
						</li>
					</ul>
				</li>
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
						<span>接待管理</span>
						<i class="fa fa-caret-right fr "></i>
					</div>
				</li>
			</ul>
		</li>
		<li class="first">
			<div class="d-firstNav s-firstNav">
				<i class="fa fa-bars"></i>	                    
				<span>房务</span>
				<i class="fa fa-caret-right fr" ></i>
			</div>
		</li>
		<li class="first">
			<div class="d-firstNav s-firstNav">
				<i class="fa fa-bars"></i>	                    
				<span>收银</span>
				<i class="fa fa-caret-right fr" ></i>
			</div>
		</li>
		<li class="first">
			<div class="d-firstNav s-firstNav">
				<i class="fa fa-bars"></i>	                    
				<span>权限</span>
				<i class="fa fa-caret-right fr" ></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<i class="fa fa-minus-square-o"></i>
						<span>员工管理</span>
						<i class="fa fa-caret-right fr"></i>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>

</head>

 <div id="LoginBox">
        <div class="row1">
            修改职员信息<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
        <div class="row">
            职员姓名: <span class="inputBox">
                <input type="text" id="txtName" placeholder="姓名" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn">*</a>
        </div>
        <div class="row">
            职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务: <span class="inputBox">
                <input type="text" id="txtPwd" placeholder="修改职务" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn2">*</a>
        </div>
        <div class="row">
            修改密码: <span class="inputBox">
                <input type="text" id="txtPwd1" placeholder="新密码" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn2">*</a>
        </div>
        <div class="row">
            <a href="#" id="xiugaibtn">确定</a>
        </div>
    </div>

	<script type="text/javascript">
	$(function ($) {
		//弹出框
		var no;
		$(".xiugai").on('click', function () {
			no = $(this).parent().prev().prev().prev().text();
			
			$("body").append("<div id='mask'></div>");
			$("#mask").addClass("mask").fadeIn("slow");
			$("#LoginBox").fadeIn("slow");
			
		});
	
		
		//文本框不允许为空---按钮触发
		$("#xiugaibtn").on('click', function () {
			
			var txtName = $("#txtName").val();
			var txtPwd = $("#txtPwd").val();
			var txtPwd1 = $("#txtPwd1").val();
			 $('#tab tr').each(function(i){                   // 遍历 tr
				$(this).children('td').each(function(j){// 遍历 tr 的各个
					if($(this).text()==no){
						$(this).next().text(txtName);
						$(this).next().next().text(txtPwd);
					}
				 });
			 });
			 
			 $("#LoginBox").fadeOut("fast");
				$("#mask").css({ display: 'none' });
		});
		//文本框不允许为空---单个文本触发
		$("#txtName").on('blur', function () {
			var txtName = $("#txtName").val();
			if (txtName == "" || txtName == undefined || txtName == null) {
				$("#warn").css({ display: 'block' });
			}
			else {
				$("#warn").css({ display: 'none' });
			}
		});
		$("#txtName").on('focus', function () {
			$("#warn").css({ display: 'none' });
		});
		//
		$("#txtPwd").on('blur', function () {
			var txtName = $("#txtPwd").val();
			if (txtName == "" || txtName == undefined || txtName == null) {
				$("#warn2").css({ display: 'block' });
			}
			else {
				$("#warn2").css({ display: 'none' });
			}
		});
		$("#txtPwd").on('focus', function () {
			$("#warn2").css({ display: 'none' });
		});
		//关闭
		$(".close_btn").hover(function () { $(this).css({ color: 'black' }) }, function () { $(this).css({ color: '#999' }) }).on('click', function () {
			$("#LoginBox").fadeOut("fast");
			$("#mask").css({ display: 'none' });
		});
	});
	
	</script>	

	
 
   
	<div id="app" style="margin-left:260px">
	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">酒店工作人员信息管理</h3>
			</div>
			<div class="panel-body form-inline">
				<label>
					Empno:<input type="text" class="form-control" v-model="empno">
				</label>
				<label>
					Ename:<input type="text" class="form-control" v-model="ename">
				</label>
				<label>
					<!-- @keyup.enter 键盘点击enter事件 -->
					Edept:<select class="form-control" v-model="edept" @keyup.enter="add">
							<option value="管理员">管理员</option>
							<option value="前台">前台</option>
							<option value="房管">房管</option>
							<option value="收银员">收银员</option>
						</select>
				</label>
				
				<input type="button" value="添加" class="btn btn-primary" @click="add" >
				
				<label>
					搜索:<input type="text" class="form-control" v-model="keywords" v-focus v-color="'green'" >
				</label>
			</div>
		</div>
	
		<table class="table table-borderred table-hover table-striped" id="tab">
			<thead>
				<tr>
					<th>Empno</th>
					<th>Ename</th>
					<th>Edept</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
					<tr v-for="item in search(keywords)" :key="item.empno">
					<td>{{item.empno}}</td>
					<td v-text="item.ename"></td>
					<td v-text="item.edept"></td>
					<!-- click.prevent防止页面刷新 -->
					<td>
						<a href="" @click.prevent="del(item.empno)">删除</a>
						<a href="" @click.prevent="upd(item.empno)" class="xiugai">修改</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<script type="text/javascript">
	
		
		//自定义属性，必须要加v-XXX  这是全局！！！，在new Vue中可以写私有的
		//使用Vue.directive定义全局的指令 v-focus
		Vue.directive('focus',{
			bind : function(el){ //这里一般写css
				//el.style.color = 'blue'
			},
			inserted : function(el){ //这里一般写js
				el.focus()
			},
			updated : function(el){}
			
		})
		
		//使用Vue.directive定义全局的指令 v-color
		Vue.directive('color',{
			bind : function(el,binding){//binding的名字可以改变，只要和下面的对应就行了
				//el.style.color = 'red'
				//binding.value = v-color="'green'"中的green
				//green要加单引号，就像上面‘red’加了单引号一个意思
				el.style.color = binding.value
			},
			inserted : function(el){
				
			},
			updated : function(el){}
			
		})
	
		var a = new Vue({
			el : '#app',
			data : {
				empno: '',
				ename: '',
				edept:'',
				keywords: '',
				list : [
					{empno : 1 , ename : '张三', edept : '前台' },
					{empno : 2 , ename : '李四', edept : '房管'  },
					{empno : 3 , ename : '王五', edept : '收银'  },
					{empno : 4 , ename : '马六', edept : '管理员'  },
					{empno : 5 , ename : '冯七', edept : '前台'  },
					{empno : 6 , ename : '周八', edept : '收银'  },
					{empno : 7 , ename : '小明', edept : '房管'  },
					{empno : 8 , ename : '小红', edept : '房管'  }
				]
			},
			methods : {
				add(){
					var emp = { empno: this.empno , ename : this.ename , edept : this.edept}
					this.list.push(emp)
					//当添加完毕后，让id和name的text框变成空的
					this.empno = ""
					this.ename = ""
					this.edept = ""
				},
				del(empno){
					this.list.some((item,i) => {
						if (item.empno == empno) {
							//从索引为i的开始删，删除一个
							this.list.splice(i,1)
							return true;
						}
					})
				},
				upd(empno){
					this.list.some((item,i) => {
						if (item.empno == empno) {
						
						}
					})
				},
				search(keywords) {
					var newList = []
					this.list.forEach(item => {
						if(item.ename.indexOf(keywords) != -1) {
							newList.push(item)
						}
					})
					return newList;
				}
			},
			directives : {
				//定义私有的属性
				'font' : {
					bind : function(el,binding) {
						el.style.color = binding.value
					}
				}
			}
			
		});
		
		//刷新页面时，使文本框获得焦点
		//document.getElementById("search").focus()
		
	</script>
	
	

</body>

</html>
